Source: winst-stsbl-collect-wlan-mac
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-iserv,
               dh-sequence-iserv-winst,
               dh-sequence-stsbl
Standards-Version: 4.5.0

Package: winst-stsbl-collect-wlan-mac
Architecture: all
Xb-Private-Iserv-Revision: ${iserv:Revision}
Depends: stsbl-iserv-collect-wlan-mac (>= 20.11.21-1), ${iserv:winst:Depends}
Description: ${iserv:winst:Description}
Tag: suite::iserv, suite::iserv:deploy
