Source: winst-stsbl-collect-wlan-mac
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0

Package: winst-stsbl-collect-wlan-mac
Architecture: all
Xb-Private-Iserv-Revision: ${iserv:Revision}
Depends: ${iserv:winst:Depends},
  stsbl-iserv-collect-wlan-mac (>= 20.11.21-1),
Description: ${iserv:winst:Description}
Tag: suite::iserv, suite::iserv:deploy
